/* Original layout for reference */
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #D7E3F4;
  --foreground: #572364;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #D7E3F4;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} 

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #611bbd;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #49247a;
}